.detailTextarea {
    background-color: #bbdefb;
}
.detailSelect {
    background-color: #bbdefb;
}
.detailObjectiveProgressHigh {
    background-color: #c4e1a4;
}
.detailObjectiveProgressMiddle {
    background-color: #fff59d;
}