.PDFViewerStyle {
    width: 100%;
    height: 100vh;
    font-weight: bold;
}
.PDFTableStyle {
    font-weight: bold;
    thead {
        td {
            width: 2rem;
        }
    }
    td ,th {
        padding: 0.1rem;
    }
}
.PDFOverAllEvaluationStyle {
    font-weight: bold;
    thead {
        td {
            white-space: nowrap;
            width: 100px;
        }
    }
    td ,th {
        padding: 0.1rem;
    }
}
.PDFScreenStyle {
    font-weight: bold;
    width: 1500px;
    padding: 0 20px;
    font-size: 12px;
    h4, h5 {
        font-weight: bold;
    }
}
.PDFTextStyle {
    text-align: center;
    font-weight: bold;
}
.PDFInterviewStyle{
    font-weight: bold;
    width: 712px;
    height: 121px;
    margin: 0px 0px 0px 15px;
}
.PDFGoalStyle{
    font-weight: bold;
}
