.detailTextarea {
    background-color: #bbdefb;
}
.yearlyLabelStyle {
    width: 20%;
}
.yearlyInputStyle {
    width: 80%;
}
// .detailSelect {
//     background-color: #bbdefb;
// }
// .detailObjectiveProgressHigh {
//     background-color: #c4e1a4;
// }
// .detailObjectiveProgressMiddle {
//     background-color: #fff59d;
// }