.detailTextarea {
    background-color: #bbdefb;
}
.yearlyLabelStyle {
    width: 20%;
}
.yearlyEditableInputStyle {
    width: 80%;
}
.yearlyReadonlyInputStyle {
    width: 80%;
    white-space: pre-line;
}
// .detailSelect {
//     background-color: #bbdefb;
// }
// .detailObjectiveProgressHigh {
//     background-color: #c4e1a4;
// }
// .detailObjectiveProgressMiddle {
//     background-color: #fff59d;
// }