.detailSelect {
    background-color: #bbdefb;
}
.detailObjectiveProgressHigh {
    background-color: #c4e1a4;
}
.detailObjectiveProgressMiddle {
    background-color: #fff59d;
}
.objectiveContentStyle {
    width: 25%;
    text-align: center;
    vertical-align: middle!important;
}