.inputFieldStyle {
    background-color: #bbdefb;
}
.buttonComponentStyle {
    margin: 0 10px;
}
.approvalStatusBoxStyle {
    float: right;
}
.textareaDisplayStyle {
    white-space: pre-line; //改行を表示
}